.form-login {
  flex-direction: column;
  display: flex;
}



mat-form-field {
  margin-top: 5px!important;
}

mat-card {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
