mat-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 30%;
  min-width: 500px;
}

.form-registrate {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin: 7px 0!important;
}

.button-submit {
  margin: 10px 0;
}
