<h1>Registriere Dich!</h1>
<mat-card>
  <form class="form-registrate">
    <mat-form-field>
      <input matInput name="vorname" [(ngModel)]="creatPerson.firstname" placeholder="Vorname">
      <mat-error *ngIf="firstnameFormControl.hasError && !firstnameFormControl.hasError('required')">
        Es wurde ein ungültiger Vorname angegeben
      </mat-error>
      <mat-error *ngIf="firstnameFormControl.hasError('required')">
        Es muss ein Vorname angegeben werden
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="creatPerson.lastname" placeholder="Nachname" name="lastname">
      <mat-error *ngIf="lastnameFormControl.hasError && !lastnameFormControl.hasError('required')">
        Es wurde ein ungültiger Nachname angegeben
      </mat-error>
      <mat-error *ngIf="lastnameFormControl.hasError('required')">
        Es muss ein Nachname angegeben werden
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="creatPerson.email" [formControl]="emailFormControl" name="email">
      <mat-hint>vorname.nachname@example.com</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError && !emailFormControl.hasError('required')">
        Eine ungültige E-Mail wurde angegeben
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Es muss eine E-Mail angegeben werden
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput #password type="password" placeholder="Passwort" [(ngModel)]="creatPerson.password" [formControl]="passwordFormControl" name="password">
      <mat-hint>Min 8 Zeichen, Min 1. Gross/Kleinbuchstabe, Min. 1 Zahl</mat-hint>
      <mat-error *ngIf="passwordFormControl.hasError && !passwordFormControl.hasError('required')">
        Ein ungültiges Passwort wurde angegeben
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Es muss ein Passwort angegeben werden
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input required matInput #passwordRepeat type="password" placeholder="Passwort bestätigen" [formControl]="passwordRepeatFormControl">
      <mat-hint>Wiederholen sie das Passwort, welches zuvor angegeben wurde</mat-hint>
      <mat-error *ngIf="passwordRepeatFormControl.hasError('required')">
        Das Passwort muss bestätigt werden
      </mat-error>
      <mat-error *ngIf="!samePassword(passwordRepeat.value && password.value) && !passwordRepeatFormControl.hasError('required')">
        Ein anderes Passwort wurde angegeben
      </mat-error>
    </mat-form-field>
    <button mat-button class="btnRegistrieren" (click)="savePerson()">registrieren</button>
  </form>
</mat-card>
