@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

mat-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 50%;
  background-color: white !important;
  color: black !important;
}

.form-registrate {
  display: flex;
  flex-direction: column;
}

mat-hint {
  color: darkgray !important;
}

mat-form-field {
  margin-top: 10px!important;
}
