.form-wg-create {
  flex-direction: column;
  display: flex;
}

mat-form-field {
  margin-top: 5px!important;
}

mat-card {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.accept{
  margin-top: 5px;
  background-color: #5CB85C;
}

.decline{
  margin-top: 5px;
  background-color: #D9534F;
}

.bold{
  font-weight: bolder;
}
