.navBar {
  width: calc(100% + 16px);
  background-color: #3f51b5;
  margin: -8px 0 0 -8px;
}

li a {

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Oxygen', sans-serif;
}

li {
  float: left;
}

li:hover {
  background-color: #0166ff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
